#edit-qtl-name {
  width: 120px;
}
#edit-expt-pub-symbol {
  width: 150px;
}
#edit-expt-trait-name {
  width: 130px;
}

/* create break after citation dropdown */
#edit-citation-wrapper {
  float: none;
}

.views-exposed-widgets {
  background-color: lightgray;
  border: 1px solid gray;
  padding: 3px;
}